<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <script src="./public/jquery-3.5.0.min.js"></script>
  <link rel="stylesheet" href="./public/css/layui.css">
  <style>
    .layui-body{
      overflow: hidden;
    }
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout">
  
  <div class="layui-logo"><%= htmlWebpackPlugin.options.title %></div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <!-- <li class="layui-nav-item">
          <a href="javascript:;">解决方案</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">列表一</a></dd>
            <dd><a href="javascript:;">列表二</a></dd>
            <dd><a href="">超链接</a></dd>
          </dl>
        </li> -->
        <% for (var name in entries) { %>
          <li class="layui-nav-item"><a href="/<%= name %>"><%= name %></a></li>
        <% } %>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <!-- <div id="main-body-wrap">内容主体区域</div> -->
    <iframe id="iframe-box" marginwidth=0 marginheight=0 width="100%" height="100%" src="" frameborder="no"></iframe>
  </div>
  
</div>
<script src="./public/layui.js"></script>
<script>
  $(document).ready(function() {
    // 进入页面根据哈希设置页面
    const pathName = window.location.hash.substr(1)
    if (pathName && pathName.length > 1) setIframeSrc(pathName);
    // 点击a标签修改hash
    $(".layui-nav-item a").click(function(e){
      const pathName = $(this).attr("href")
      window.location.hash = pathName
      e.preventDefault();
    });
    // 监听hash变化，设置内嵌页面
    window.onhashchange = function() {
      const pathName = window.location.hash.substr(1)
      setIframeSrc(pathName);
    }
  })

  // 设置iframe标签src
  function setIframeSrc(pathName) {
    if (pathName.length === 1) return
    const path = pathName.slice(-1) !== '/' ? pathName + '/' : pathName
    $('#iframe-box').attr('src', path);
  }
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
});
</script>
</body>
</html>