*{
  margin: 0;
  padding: 0;
}
html,body,.app{
  width: 100%;
  height: 100%;
  font-family: Roboto,sans-serif;
}

.app .left{
  height: 100%;
  overflow: hidden;
  width: 300px;
  border-right: thin solid rgba(0,0,0,.12);
}
.left .title{
  text-align: center;
  line-height: 60px;
}
.left .search{
  padding: 10px;
}