html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrap{
  display: flex;
}

.col{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.col img{
  width: 100%;
}
#bottom {
  height: 10px;
}